<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head'); %>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 mt-3">
        <h1>Chatbot - Honda Prada</h1>
        <h4>Whatsapp, Messenger, Sms Entel, Telegram</h4>

        <a href="/mirestart" class="btn btn-dark" type="button">Reiniciar</a>
          <div class="fab-container">
            <div class="fab fab-icon-holder">
              <i class="fas fa-bars"></i>
            </div>
           
          </div>
      </div>
    </div>
  </div>
</body>
</html>